body {
    background-color: #FEFAE0;
    font-family: 'Quicksand', sans-serif;
}

#navbar, #search-button, #dropdownMenuButton, #today,
#footerIcon, .hot, .cold, .forecard, .footer {
    color: white;
}

#navbar, .footer {
    background-color: #283618;
}

#search-button, #today {
    background-color: #606C38;
}

#mainContainer {
    text-align: center;
}

.hot {
    background-color: red;
}

.cold {
    background-color: #1184e8;
}

.forecard, #dropdownMenuButton {
    background-color: #BC6C25;
    border: 1px solid #BC6C25;
}

#forecast {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.forecard {
    width: 8rem; 
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

@media screen and (max-width: 760px) {
    #forecast {
        flex-direction: column;
    }
    .forecard {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
    .weatherIcon {
        width: 80px;
        margin: auto;
    }
}
