body {
    background-color: #FEFAE0;
    font-family: 'Quicksand', sans-serif;
}

#navbar, #search-button, #dropdownMenuButton, #today, #footerIcon, .hot, .cold {
    color: white;
}

#navbar, .footer {
    background-color: #283618;
}

#search-button, #today {
    background-color: #606C38;
}

#mainContainer {
    text-align: center;
}

.hot {
    background-color: red;
}

.cold {
    background-color: #1184e8;
}

.forecard, #dropdownMenuButton {
    background-color: #BC6C25;
    border: 1px solid #BC6C25;
}

.footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
